<?xml version="1.0"?>

<model>
    <name>Box_for_py_obstacle</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Jong Min Lee</name>
        <email>tester@test.com</email>
    </author>

    <description>
        A box model for obstacles
    </description>
</model>
